# Ignore contrib.
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles
/docroot/themes/contrib

# Ignore local development.
/docroot/sites/*/settings.local.php
/docroot/sites/*/development.services.yml

# Ignore UGC.
/docroot/sites/*/files

# Ignore Composer-managed dependencies.
/vendor

# Ignore Vagrant virtual machine data.
/.vagrant

# Ignore local VM settings overrides.
/vm-settings.local.yml

# Ignore environment.
/.env

# Ignore test configuration overrides.
/phpcs.xml
/phpstan.neon
/phpunit.xml

# Ignore Drupal scaffold.
/.editorconfig
/.gitattributes
