# Ignore document root (this is a template's .gitignore).
/docroot/**

# Ignore composer.lock (this is a template, not a project).
/composer.lock

# Ignore Composer-managed dependencies.
/vendor/**

# Ignore Vagrant virtual machine data.
/.vagrant/**

# Ignore regular && local VM settings.
/Vagrantfile
/vm-settings.yml
/vm-settings.local.yml

# Ignore files added by Drupal Scaffold Composer plugin.
/.gitattributes
/.editorconfig

# Ignore .env files.
/.env
