# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files

# Ignore Composer-managed dependencies.
vendor/

# Ignore Vagrant virtual machine data.
.vagrant

# Ignore local VM settings overrides.
vm-settings.local.yml
